$primary: #115063;
$white: #fff;

* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    max-width: 100%;
    margin: 0;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: $primary;
}

body {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

    background: url(/front/images/bcg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*back to top button*/
#toTop {
    width:45px;
    height: 45px;
    box-sizing: border-box;
    text-align:center;
    padding: 10px;
    position:fixed; /* this is the magic */
    bottom: 20px;
    right: 10px;
    cursor:pointer;
    transition: color 300ms, background-color 300ms, opacity 300ms;
    -moz-transition: color 300ms, background-color 300ms, opacity 300ms;
    -o-transition: color 300ms, background-color 300ms, opacity 300ms;
    -webkit-transition: color 300ms, background-color 300ms, opacity 300ms;
    z-index: 9;
    border-radius: 25px;
    background: #1EC6B6;
    color: $white;
    display: block;
}

#toTop i {
    font-size: 1.5em;
    line-height: 24px;
}

#toTop:hover {
    -webkit-transform: translate(0px,-5px);
    -moz-transform: translate(0px,-5px);
    transform: translate(0px,-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}
/*end back to top button*/

/* fixes */
a[href^="tel:"], a[href^="mailto:"] {
    color: inherit;
    text-decoration: none;
}

/* Type */
h1  {
    font-size: 35px;
    text-align: left;
    font-weight: 900;
    margin-bottom: 0px;
}

h2  {
    font-size: 25px;
    text-align: left;
}

h3  {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    margin-top:0px;
}

h4  {
    font-size: 15px;
    font-weight: 900;
    text-align: left;
}

h5  {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-top: 5px;
}

q  {
    font-size: 15px;
    text-align: left;
    font-weight: 300;
    font-style: oblique;
}

p  {
    text-align: left;
    font-weight: 300;
}

/* links & buttons */
a {
    outline: 0;
    color: darkorange;
    text-decoration: none;
}

a:hover {
    color: orange;
}

.box_footer a {
    color: $white;
    &:hover {
        text-decoration: underline;
    }
}

.big_btn {
    color: $white;
    background-color: darkorange;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    padding: 10px 15px;
    margin: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 1s;
    border-radius: 25px;
    &:hover {
        color: $white;
        background-color: orange;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
}

.small_btn {
    color: $white;
    background-color: $primary;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 1s;
    border-radius: 15px;
    &:hover {
        color: $white;
        background-color: $primary;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
}

/* containters */
.headline {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: $white;
    justify-content: center;
    align-items: center;
}

.headline_logo {
    width: 250px;
    max-width: 80%;
    //height: auto;
    display: flex;
}

.mainbox {
    display: flex;
    width: 100%;
    padding: 100px 0;
    //height: auto;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    &.mainbox_white {
        color: $primary;
        background-color: $white;
    }
    &.mainbox_blue {
        color: $white;
        background-color: $primary;
    }
}

/* content boxes */
.box_left {
    max-width: 400px;
    //height: auto;
    align-items: flex-start;
    //margin:10px;
    padding: 20px;
    /*!*box-sizing: border-box;*!*/
}

.box_right {
    max-width: 700px;
    overflow: hidden;
    //height: auto;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
    display: flex;
    //flex-flow: row;
    flex-wrap: wrap;
    //margin:10px;
    padding: 20px;
    /*!*box-sizing: border-box;*!*/
}

.box_grey, .box_transparent {
    width: 300px;
    //height: auto;
    align-items: center;
    display: flex;
    //flex-basis: auto;
    //flex-flow: row;
    margin:10px;
    padding: 20px;
    //background-color: ghostwhite;
    /*!*box-sizing: border-box;*!*/
    border-radius: 50px;
}

.box_grey {
    background-color: ghostwhite;
}

.box_icon {
    width: 100px;
    height: 100px;
    padding: 10px;
    /*	display: flex; */
    /*box-sizing: border-box;*/
}

.box_center {
    width: 300px;
    //height: auto;
    align-items: center;
    //text-align: center;
    display: flex;
    flex-direction: column;
    //flex-basis: auto;
    //margin:10px;
    padding: 30px;
    /*box-sizing: border-box;*/
}

.box_center p {
    text-align: center;
}

.box_footer {
    width: 300px;
    max-width: 80%;
    //height: auto;
    align-items: flex-start;
    //margin:10px;
    padding: 30px;
    /*box-sizing: border-box;*/
}

.box_mini {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .box_mini_title {
        margin: 15px 0;
        font-weight: lighter;
    }
    .small_btn {
        margin: 0;
    }
}

.form_box {
    width: 400px;
    /*max-width: 100%;*/
    /*height: auto;*/
    /*align-items: flex-start;*/
    /*margin: 10px;*/
    padding: 20px;
    /*box-sizing: border-box;*/
}

.infoblock_bl {
    max-width: 600px;
    //height: auto;
    align-items: flex-start;
    //margin: 10px;
    padding: 30px;
    /*box-sizing: border-box;*/
}

/* media corrections */
@media screen and (max-height: 450px) {
    .mobile-menu {padding-top: 15px;}
    .mobile-menu a {font-size: 18px;}
    .box_grey {
        width: 100%;
        //height: auto;
        //align-items: left;
        align-items: center;
        display: flex;
        flex-basis: auto;
        /*box-sizing: border-box;*/
        //flex-flow: row;
        margin: 10px 0;
        padding: 20px;
    }
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-sizing: border-box;*/
    flex-wrap: wrap;
    width: 100%;
    padding: 0 20px;
    //padding-left: 20px;
    //padding-right: 20px;
    margin: auto;
    overflow: hidden;
}

.pohladavka {
    display: flex;
    justify-content: center;
    /*box-sizing: border-box;*/
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    background-color: ghostwhite;
    border: 1px solid Gainsboro; /*rgb(37, 116, 169)*/
    margin: 10px;
}

.pohladavka .pohladavka_item {
    width: 100%;
    max-width: 200px;
    //height: auto;
    align-items: flex-start;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-top: 1px solid rgb(37, 116, 169);
}

.pohladavka .pohladavka_item.orange {
    border-top: 3px solid darkorange;
}
/* END css V2 */

article {
    /*box-sizing: border-box;*/
    max-width: 800px;
    width: auto;
    padding: 20px;
}

article p{
    text-align: justify;
}

form {
    margin: 0;
    padding: 0;
}

.messages {
    padding-top: 70px;
    padding-bottom: 20px;
    display: block;
    width: 100%;
    //height: auto;
    background-color: white;
}
.message {
    background-color: firebrick;
    color: white;
    padding: 10px;
}

.msg-error {
    background-color: firebrick;
}

.msg-ok{
    background-color: ForestGreen;
}

.msg-info{
    background-color: Gainsboro;
    color: rgb(37, 116, 169);
}

.infoblock_admin {
    max-width: 160px;
    //height: auto;
    align-items: flex-start;
    margin:10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px $primary solid;
}
table th {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
table td {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}
table td span {
    max-width: 160px;
    //height: auto;
    align-items: flex-start;
    margin:10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: 1px $primary solid;
}

.row_un {
    width: 80%;
    border-bottom: 1px $primary solid;
}

.container_flex_row  {
    color: $primary;
    display: inline-flex;
    width: auto;
    //height: auto;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $white;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px rgb(200, 200, 200) solid;
}

/* containers  */

.main-menu{
    width: 100%;
    height: 70px;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    padding: 10px;
    background-color: rgba(17, 80, 99, 1);
    position: fixed;
    z-index: 8;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.container_flex_home  {
    color: rgb(0, 0, 0);
    display: inline-flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    //height: auto;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $white;
    /* padding-bottom: 30px;
    padding-top: 30px;    */
    padding-bottom: 150px;
    padding-top: 50px;
}

.container_flex_blue_home  {
    color: $white;
    display: inline-flex;
    width: 100%;
    //height: auto;
    min-height: 100%;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    /*background-color: $primary; */
    background-color: transparent;
    /* padding-bottom: 30px;
    padding-top: 30px;    */
    padding-bottom: 50px;
    padding-top: 100px;
}

.container_flex_blue  {
    color: $white;
    display: inline-flex;
    text-align: center;
    width: 100%;
    //height: auto;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $primary;
    /* padding-bottom: 30px;
    padding-top: 30px;    */
    padding-bottom: 50px;
    padding-top: 50px;
}

.container_flex_white  {
    color: $primary;
    display: inline-flex;
    width: 100%;
    //height: auto;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $white;
    padding-bottom: 50px;
    padding-top: 50px;
    /*box-sizing: border-box;*/
    overflow: hidden;
}

.container_flex_pohladavka  {
    color: $primary;
    display: inline-flex;
    width: 100%;
    //height: auto;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(222, 222, 222);
    /* padding-bottom: 30px;
    padding-top: 30px;    */
    margin-bottom: 10px;
    padding-top: 60px;
}

.green   {
    background-color: rgb(166, 218, 149)
}

.red   {
    background-color: rgb(219, 198, 187)
}

/* blocks  */

.logo_block {
    display: flex;
    /*box-sizing: border-box;*/
    justify-content: center;
    align-items: center;
    max-width: 600px;
    //height: auto;
}

.logo_svg {
    width: 100%;
    //height: auto;
    display: flex;
    /*box-sizing: border-box;*/
    padding: 20px;
}

.block {
    max-width: 800px;
    //height: auto;
    align-items: flex-start;
    margin:10px;
    padding: 0px;
    /* background-color: rgb(0, 0, 0); */
}

.infoblock {
    /*max-width: 300px;*/
    width: 300px;
    /* max-width: 80%; */
    //height: auto;
    /*justify-content: flex-start; */
    align-items: center;
    display: flex;
    flex-basis: auto;
    /*box-sizing: border-box;*/
    //flex-flow: row;
    margin:10px;
    padding: 20px;
    background-color: ghostwhite;
}

.block_right {
    max-width: 700px;
    overflow: hidden;
    //height: auto;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
    display: flex;
    /*box-sizing: border-box;*/
    //flex-flow: row;
    flex-wrap: wrap;
    margin:10px;
    padding: 10px;
}

.infoblock_footer {
    max-width: 200px;
    //height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    /*box-sizing: border-box;*/
    flex-flow: column;
    text-align: left;
    margin:10px;
    padding: 20px;
}

.infoblock_footer p {
    text-align: left;
}

.infoblock_b {
    max-width: 400px;
    //height: auto;
    align-items: flex-start;
    margin:10px;
    padding: 5px;
}

.headerblock {
    width: 100%;
    //height: auto;
    align-items: flex-start;
    margin:0px;
    padding: 0px;
}

@media screen and (max-width:450px) {
}

.row_black {
    width: 30%;
    height: 3px;
    margin-left: 35%;
    margin-right: 35%;
    /* background-color: rgb(140, 198, 63); */
    background-color: rgb(0, 0, 0);
}

.rowf {
    width: 80%;
}

/* media  */
.big_img{
    width: 100%;
    //height: auto;
}

.icon{
    /*
max-width: 150px;
width: 100%; */
    /* width: 8em; */
    /*width: 100px;*/
    /*height: 100px;*/
    padding: 10px;
    /*box-sizing: border-box;*/
    display: flex;
}

.logo  {
    align: right;
    height: 50px;
    width: auto;
}

.right-menu  {
    float: right;
    font-weight: 300;
    text-align: right;
    height: 70px;
    width: auto;
    color:white;
    padding-right:10px;
    line-height: 50px;
}

/* Buttons
*/
a .button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

button, a.button {
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
    padding: 15px 25px;
    //height: auto;
    min-width: 140px;
    display: block;
    margin: 20px auto;
    text-align: center;
    transition: all 2s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    border: none;
    background-color: darkorange;
    color: $white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

button:hover, a.button:hover {
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: orange;
}

button:focus {
    outline:0;
    border: none;
}

.add-files button {
    padding: 10px 0px 5px 5px;
    min-width: 75px;
    margin: 5px 0 0;
    display: inline;
    border-radius: 25px;
}

.add-files div {
    /*margin-bottom: 5px;*/
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
    margin-bottom: 10px;
}

.add-files input {
    margin-bottom: 5px;
}

/* INPUT   */
input[type="text"], input[type="email"], input[type="number"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: none;
    border-radius: 0;
}
input[type="text"]:focus {
    outline: none;
}

//.style-1 input[type="text"] {
//    padding: 10px;
//    border: solid 1px #dcdcdc;
//    transition: box-shadow 0.3s, border 0.3s;
//}
//.style-1 input[type="text"]:focus,
//.style-1 input[type="text"].focus {
//    border: solid 1px #707070;
//    box-shadow: 0 0 5px 1px #969696;
//}
//
//.style-2 input[type="text"] {
//    padding: 10px;
//    border: solid 5px #c9c9c9;
//    transition: border 0.3s;
//}
//.style-2 input[type="text"]:focus,
//.style-2 input[type="text"].focus {
//    border: solid 5px #969696;
//}
//
//.style-3 input[type="text"] {
//    padding: 10px;
//    border: solid 5px #c9c9c9;
//    box-shadow: inset 0 0 0 1px #707070;
//    transition: box-shadow 0.3s, border 0.3s;
//}
//.style-3 input[type="text"]:focus,
//.style-3 input[type="text"].focus {
//    border: solid 5px #969696;
//}
//
//.style-4 input[type="text"] {
//    padding: 10px;
//    border: none;
//    border-bottom: solid 2px #c9c9c9;
//    transition: border 0.3s;
//}
//.style-4 input[type="text"]:focus,
//.style-4 input[type="text"].focus {
//    border-bottom: solid 2px #969696;
//}
//
//.style-5 input[type="text"] {
//    padding: 10px;
//    border: solid 1px #fff;
//    box-shadow: inset 1px 1px 2px 0 #707070;
//    transition: box-shadow 0.3s;
//}
//.style-5 input[type="text"]:focus,
//.style-5 input[type="text"].focus {
//    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
//}

/* MATERIAL INPUT */
/* form starting stylings ------------------------------- */
.group 			  {
    /*position:relative;*/
    /*margin-bottom:45px;*/
    margin-bottom:20px;
    /*width: 100%;*/
    /*box-sizing: border-box;*/
}
input, textarea	{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width: 100%;
    /*width:300px;*/
    /*max-width: 100%;*/
    border:none;
    border-bottom: 1px solid #115063;
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
}
input:focus 		{ outline:none; }

input[type=file] {
    border: 0;
    padding: 0;
    font-size: 14px;
}

/* select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    border-bottom:   1px solid #115063;
    padding:10px 30px 10px 5px;
    display:block;
    font-size:18px;
    width: 100%;
    color:#115063;
}

select ~ .arrow {
    position: absolute;
    right: 6px;
    top: 11px;
}

select::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */

}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background-image:none\9;
        padding: 5px\9;
    }
}


/*  Checkbox  */
input[type=checkbox]   {
    display: inline;
    margin-right: 5px;
    height: 15px;
    width: 15px;
}
input[type=checkbox]:focus 		{
    outline:none;
}


/* LABEL ======================================= */
label 				 {
    color:#115063;
    font-size: 14px;
    /*font-size: 18px;*/
    font-weight:normal;
    /*position:absolute;*/
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label, input:invalid ~ label, select ~ label, input[type=date] ~ label {
    top:-20px;
    font-size:14px;
    color:#115063;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width: 100%; }
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#115063;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

input:invalid ~ .bar:before, input:invalid ~ .bar:after {
    background-color: red;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#115063; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#115063; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#115063; }
    to 	{ width:0; background:transparent; }
}
/* MENU */

.alogin  {
    font-weight: 300;
    text-align: right;
    color:white;
    /*padding-right:10px;
    padding-top: 16px;*/
    text-decoration: none;
    /*cursor: pointer;*/
}

a.alogin:hover  {
    color: white;
    text-decoration: underline;
}

.menu {
    font-family: 'Material Icons';
    color: $white;
    background-color: transparent;
    font-weight: normal;
    font-style: normal;
    font-size: 25px;  /* Preferred icon size */
    margin-left: 10px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    border-radius: 25px;
    padding: 5px;

    /*  position: fixed; */
    /* z-index: 9;  */

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.menu:hover {
    color: rgba(17, 80, 99, 1);
    background-color: $white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 25px;
}

/* The side navigation menu */
.mobile-menu {
    color: $primary;
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    margin-left: -250px;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the mobile-menu */
    z-index: 10;
}

/* The navigation menu links */
.mobile-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: $primary;
    display: block;
    transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
.mobile-menu a:hover, .offcanvas a:focus{
    color: $white;
    background-color: $primary;
}

/* Position and style the close button (top right corner) */
.mobile-menu .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    margin-left: 50px;
    border-radius: 25px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the mobile-menu (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .mobile-menu {padding-top: 15px;}
    .mobile-menu a {font-size: 18px;}
    .infoblock {
        /*max-width: 300px;*/
        width: 100%;
        /* max-width: 80%; */
        //height: auto;
        /*justify-content: flex-start; */
        align-items: center;
        display: flex;
        flex-basis: auto;
        /*box-sizing: border-box;*/
        //flex-flow: row;
        margin: 10px 0;
        padding: 20px;
    }
}
/* FULL MENU */
/* Remove margins and padding from the list, and add a black background color */


/* Float the left-menu items side by side */
ul.left-menu {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 70px;
}
ul.left-menu li {float: left;}

/* Style the links inside the list items */
ul.left-menu li a {
    display: inline-block;
    color: $white;
    text-align: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 25px;
}

/* Change background color of links on hover */
ul.left-menu li a:hover {
    color: $primary;
    background-color: $white;
    border-radius: 25px;
}


/* Hide the list item that contains the link that should open and close the left-menu on small screens */
ul.left-menu li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the left-menu (li.icon) */
@media screen and (max-width:1200px) {
    ul.left-menu li {display: none;}
    ul.left-menu li.icon {
        float: left;
        display: inline-block;
    }
}

/* The "responsive" class is added to the left-menu with JavaScript when the user clicks on the icon. This class makes the left-menu look good on small screens */
@media screen and (max-width:940px) {
    ul.left-menu.responsive {position: relative;}
    ul.left-menu.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.left-menu.responsive li {
        float: none;
        display: inline;
    }
    ul.left-menu.responsive li a {
        display: block;
        text-align: left;
    }
}

form#pridanie-pohladavky .mainbox_white .group[data-type="1"] {
    display: none;
}

.zoznam-pohladavok .pohladavka {
    width: auto;
}

.zoznam-pohladavok form {
    max-width: 90%;
}

.zoznam-pohladavok .files b {
    max-width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label {
    font-size: 14px;
    color: #115063;
    font-weight: normal;
    margin-left: 5px;
    margin-bottom: 10px;
}

.datepicker-container {
    font-weight: normal;
}

.datepicker-container .custom-highlight {
    background-color: #115063;
    color: $white;
}
.datepicker-panel > ul > li:hover {
    background-color: #166983 !important;
    color: $white;
}

#pridanie-pohladavky .datepicker-here {
    border: 1px dashed #eee;
    display: inline-block;
}

.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: $white; box-shadow: -1px 1px 3px rgba(0,0,0,.1);
    /* core styles should not be changed */
    /*position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;*/
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }
