// Bootstrap Steps Variables

$step-gutter: 1rem;
$step-content-width: 5rem;
$step-content-padding-top: .5rem;
$step-circle-size: 1.5rem;
$step-circle-border-width: 2px;

$step-default-circle-bg-color: white;
$step-default-circle-color: #adb5bd;
$step-default-circle-border-color: #adb5bd;
$step-default-text-color: #adb5bd;

$step-active-circle-color: white;
$step-active-circle-bg-color: #007bff;
$step-active-circle-border-color: #007bff;
$step-active-text-color: #007bff;

$step-error-circle-color: white;
$step-error-circle-bg-color: #dc3545;
$step-error-circle-border-color: #dc3545;
$step-error-text-color: #dc3545;

$step-success-circle-bg-color: white;
$step-success-circle-color: #28a745;
$step-success-circle-border-color: #28a745;
$step-success-text-color: #28a745;
