.btn-sm, .btn-group-sm > .btn {
    padding: 0.4rem 0.4rem;
    font-size: inherit;
    line-height: 1;
}

.material-icons {
    font-size: 16px;
    vertical-align: middle;
}

.modal-body {
    white-space: normal;
}

.nav-tabs-custom {
    background-color: white;
    a {
        color: gray;
    }
    .nav-link {
        padding: 0.4rem 0.7rem;
        .active {
            color: #00ADEE;
        }
    }
}
.btn-disabled {
    pointer-events: none;
    opacity:0.6;
}
