$body-bg: #F7F7F7;

$sideMenuBckg: #fff;
$sideMenuItem: black;
$sideMenuItemHover: #00ADEE;
$sideMenuBorder: 1px solid #e3e3e394;

$topMenuHeight: 40px;
$topMenuBckg: #fff;
$topMenuItem: black;
$topMenuItemHover: red;
$topMenuBorder: 1px solid #e3e3e394;
